<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments.html :: head(title='Project Manager | 로그인')">
        <meta charset="UTF-8">
        <title>Project Manager | 로그인</title>
    </head>
    <body class="bg-light">
        <div class="container">
            <div class="py-5 text-center">
                <p class="lead">프로젝트 매니저</p>
                <h2>로그인</h2>
            </div>
            <div class="row justify-content-center">
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    <p>아이디와 패스워드가 정확하지 않습니다.</p>
                    <p>또는 등록되지 않은 아이디를 사용했습니다. 아이디를 확인해주세요.</p>
                    <p>
                        확인 후 다시 입력하시거나, <a th:href="@{/find-password}">패스워드 찾기</a>를 이용하세요.
                    </p>
                </div>

                <form id="aaa" class="needs-validation col-sm-6" th:action="@{/sign-in}" method="post" novalidate>
                    <div class="form-group">
                        <label for="username">아이디</label>
                        <input id="username" type="text" name="username" class="form-control"
                               placeholder="아이디" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">
                            가입할 때 사용한 아이디를 입력하세요.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="password">패스워드</label>
                        <input id="password" type="password" name="password" class="form-control"
                               placeholder="패스워드" aria-describedby="passwordHelp" required>
                        <small id="passwordHelp" class="form-text text-muted">
                            패스워드가 기억나지 않는다면, <a href="#" th:href="@{/email-login}">패스워드 찾기</a>
                        </small>
                        <small class="invalid-feedback">패스워드를 입력하세요.</small>
                    </div>
    
                    <!-- remember-me 의 true 한 값이 들어올때만 쿠키 발급 -->
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
                        <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
                    </div>
    
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit"
                                aria-describedby="submitHelp">로그인</button>
                        <small id="submitHelp" class="form-text text-muted">
                             프로젝트 매니저에 처음 오신거라면 <a th:href="@{/sign-up}">계정을 먼저 만드세요.</a>
                        </small>
                    </div>
                </form>
            </div>
            <div th:replace="fragments.html :: footer"></div>
        </div>
    </body>
</html>